@model EducationPortal.WEB.MVC.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = "Create article";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div>
        <form asp-action="CreateArticle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>