@model EducationPortal.WEB.MVC.Models.ArticleModel

@{
    ViewData["Title"] = "Edit article";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div>
        <form asp-action="EditArticle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Source"></label>
                <input asp-for="Source" class="form-control"placeholder="@Model.Source" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Published"></label>
                <input asp-for="Published" class="form-control" placeholder="@Model.Published"/>
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>