@model EducationPortal.WEB.MVC.ViewModels.PaginationViewModel<SkillModel>

@addTagHelper *, EducationPortal.WEB.MVC

@{
    ViewData["Title"] = "Skills";
}

<h1>@ViewData["Title"]</h1>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <div class="my-2">
                <form method="get" asp-controller="Skill" asp-action="Create">
                    <div>
                        <input type="submit" value="Create new skill" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    }
    <div>
        <table class="table">
            <tr><th>Name</th><th>Description</th></tr>
            @foreach (var skill in Model.Models)
            {
                <tr><td>@skill.Name</td><td>@skill.Description</td></tr>
            }
        </table>
    </div>
    <div>
        <page-link page-model="Model.PageViewModel" page-action="Index"></page-link>
    </div>
</div>