@model EducationPortal.WEB.MVC.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Create course";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Materials" class="control-label"></label>
                <input asp-for="Materials" class="form-control" />
                <span asp-validation-for="Materials" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Skills" class="control-label"></label>
                <input asp-for="Skills" class="form-control" />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>