@model EducationPortal.WEB.MVC.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>
<h3>@Model.Profile.Name</h3>

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" asp-controller="Course" asp-action="Create">
                    <div>
                        <input type="submit" value="Create course" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="post" asp-controller="Material" asp-action="Index">
                    <div>
                        <input type="submit" value="All materials" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
            <div class="col">
                <form method="get" asp-controller="Skill" asp-action="Create">
                    <div>
                        <input type="submit" value="Add skill" class="btn btn-secondary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>