@model EducationPortal.WEB.MVC.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Registration";
}
<h1>@ViewData["Title"]</h1>

<div>
    <form method="post" asp-controller="Auth" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Login" class="control-label"></label>
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Register" class="btn btn-primary" />
        </div>
    </form>
</div>